
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Safi Look gestion</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/grayscale.min.css" rel="stylesheet">
  <link href="/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/mainstyle.css">
</head>

<body id="page-top" style="background-color: #588e8fd1;">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Safi Look</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/gestion">gestion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">deconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="sections2" style="display: block;margin-top: 80px;">
    <%if(locals.tester){%> <h2 style="color: white; font-family: initial; background-color: cadetblue;"> <%= tester%></h2><%}%>
    <h1 class="h1s"> Modifier Client</h1>
    <form  action="/modifier" method="POST">
        <input class="form-control "  type="text" name="id" placeholder="id" value="<%=list.id%>" readonly>
        <input class="form-control " required  type="text" name="Nom" placeholder="Nom"  value="<%=list.Nom%>">
        <input class="form-control" required type="text" name="Prenom" placeholder="Prenom"  value="<%=list.Prenom%>">
        <input class="form-control" required type="text" name="Age" placeholder="Age"  value="<%=list.Age%>">
        <textarea class="form-control" required name="Adresse" placeholder="Adresse" ><%=list.Adresse%> </textarea>
        <input class="form-control" required type="tel" name="Telephone" placeholder="Telephone"  value="<%=list.Telephone%>">
        <button class="btn btn-dark"  style="margin-top: 20px;">Modifier Client</button>
    </form>
</section>

      <script src="../vendor/jquery/jquery.min.js"></script>
      <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
      <!-- Plugin JavaScript -->
      <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    
      <!-- Custom scripts for this template -->
      <script src="/grayscale.min.js"></script>
      <script src="/index.js"></script>
</body>
</html>